<div class="dashboard-container">
    <div class="profile-section">
      <div class="profile-picture">
        <img src="path_to_profile_pic" alt="Profile Picture">
      </div>
      <div class="profile-info">
        <h3>User Name</h3>
        <p>Email: user@example.com</p>
        <button class="edit-profile-btn" (click)="editProfile()">Edit Profile</button>
      </div>
    </div>
    <div class="cart-section">
      <a routerLink="/cart">
        <img src="C:\Users\sushantbuche\Desktop\ECommerceApplication\EcomApplication.FrontEnd\EcomUI\src\assets\icon\trolley.png" alt="Cart Icon">
        <span class="cart-count">3</span>
      </a>
    </div>
  </div>
  